@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.nav_parent {
  font-family: "Raleway", sans-serif;
}

.loginStatus {
  font-family: 'Questrial', sans-serif;
}

.main_section_header {
  font-family: 'Merriweather', serif;
}